n8n-workflows/02-linkedin-lead-to-email-sequence.json
{
  "name": "LinkedIn Lead to Email Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "linkedin-webhook",
      "name": "LinkedIn Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "linkedin-lead-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hudsondigitalsolutions.com/api/webhooks/n8n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"new_lead\",\n  \"data\": {\n    \"email\": \"{{ $json.email }}\",\n    \"name\": \"{{ $json.firstName }} {{ $json.lastName }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"company\": \"{{ $json.company }}\",\n    \"source\": \"LinkedIn Lead Gen Campaign\",\n    \"leadScore\": 80\n  }\n}",
        "options": {}
      },
      "id": "create-lead",
      "name": "Create Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Hudson Digital API Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "id": "wait-1-hour",
      "name": "Wait 1 Hour",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [650, 300],
      "webhookId": "wait-1hour-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hudsondigitalsolutions.com/api/webhooks/n8n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"trigger_email_sequence\",\n  \"data\": {\n    \"email\": \"{{ $json.email }}\",\n    \"name\": \"{{ $json.firstName }} {{ $json.lastName }}\",\n    \"sequenceId\": \"calculator-hot-lead\"\n  }\n}",
        "options": {}
      },
      "id": "trigger-email",
      "name": "Trigger Email Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Hudson Digital API Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Lead created and email scheduled\" } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "LinkedIn Webhook": {
      "main": [
        [
          {
            "node": "Create Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead": {
      "main": [
        [
          {
            "node": "Wait 1 Hour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Hour": {
      "main": [
        [
          {
            "node": "Trigger Email Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Email Sequence": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["linkedin", "lead-gen", "email-automation"],
  "triggerCount": 0,
  "updatedAt": "2024-11-23T00:00:00.000Z",
  "versionId": "1"
}
