n8n-workflows/04-update-lead-status.json
{
  "name": "Update Lead Status from External Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-lead-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "update-lead-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "contacted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hudsondigitalsolutions.com/api/webhooks/n8n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"update_lead\",\n  \"data\": {\n    \"leadId\": \"{{ $json.leadId }}\",\n    \"updates\": {\n      \"contacted\": true,\n      \"status\": \"{{ $json.status }}\",\n      \"notes\": \"{{ $json.notes }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "update-contacted",
      "name": "Update as Contacted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Hudson Digital API Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hudsondigitalsolutions.com/api/webhooks/n8n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"update_lead\",\n  \"data\": {\n    \"leadId\": \"{{ $json.leadId }}\",\n    \"updates\": {\n      \"status\": \"{{ $json.status }}\",\n      \"notes\": \"{{ $json.notes }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "update-other",
      "name": "Update Other Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Hudson Digital API Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Lead updated successfully\" } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Update as Contacted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Other Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update as Contacted": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Other Status": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["lead-update", "crm-sync"],
  "triggerCount": 0,
  "updatedAt": "2024-11-23T00:00:00.000Z",
  "versionId": "1"
}
