n8n-workflows/05-crm-to-website-sync.json
{
  "name": "CRM to Website Sync (Salesforce/HubSpot)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "crm-webhook",
      "name": "CRM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "crm-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.lead_status }}",
              "rightValue": "Hot",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "filter-hot-leads",
      "name": "Filter Hot Leads Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate lead score based on CRM data\nconst items = $input.all();\n\nreturn items.map(item => {\n  let score = 60; // Base score\n  \n  // Add points based on CRM fields\n  if (item.json.annual_revenue > 1000000) score += 15;\n  if (item.json.employee_count > 50) score += 10;\n  if (item.json.industry === 'Technology') score += 10;\n  if (item.json.engagement_score > 70) score += 15;\n  \n  return {\n    json: {\n      ...item.json,\n      calculatedLeadScore: Math.min(100, score)\n    }\n  };\n});"
      },
      "id": "calculate-score",
      "name": "Calculate Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hudsondigitalsolutions.com/api/webhooks/n8n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"new_lead\",\n  \"data\": {\n    \"email\": \"{{ $json.email }}\",\n    \"name\": \"{{ $json.first_name }} {{ $json.last_name }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"company\": \"{{ $json.company_name }}\",\n    \"source\": \"CRM Sync - {{ $json.crm_source }}\",\n    \"leadScore\": {{ $json.calculatedLeadScore }}\n  }\n}",
        "options": {}
      },
      "id": "create-lead",
      "name": "Create Lead in Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Hudson Digital API Auth"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C12345678",
          "mode": "id"
        },
        "text": "=🔥 **New Hot Lead from CRM!**\n\n**Name:** {{ $json.first_name }} {{ $json.last_name }}\n**Company:** {{ $json.company_name }}\n**Email:** {{ $json.email }}\n**Phone:** {{ $json.phone }}\n**Lead Score:** {{ $json.calculatedLeadScore }}/100\n**Source:** {{ $json.crm_source }}\n\n*Action: Contact within 24 hours!*",
        "attachments": [],
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "Notify Sales Team (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 200],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Hot lead synced and team notified\" } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Lead not hot enough, skipped\" } }}",
        "options": {}
      },
      "id": "respond-skipped",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "CRM Webhook": {
      "main": [
        [
          {
            "node": "Filter Hot Leads Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Hot Leads Only": {
      "main": [
        [
          {
            "node": "Calculate Lead Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Lead Score": {
      "main": [
        [
          {
            "node": "Create Lead in Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead in Website": {
      "main": [
        [
          {
            "node": "Notify Sales Team (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Sales Team (Slack)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["crm", "salesforce", "hubspot", "sync"],
  "triggerCount": 0,
  "updatedAt": "2024-11-23T00:00:00.000Z",
  "versionId": "1"
}
