docs/n8n-workflow-fixed.json
{
  "name": "Hudson Digital - Email Queue Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-queue",
        "options": {}
      },
      "id": "webhook-email-queue",
      "name": "Email Queue Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "email-queue-webhook"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": [
          {
            "value1": "={{ $json.action }}",
            "operation": "equal",
            "value2": "send"
          },
          {
            "value1": "={{ $json.action }}",
            "operation": "equal",
            "value2": "schedule"
          }
        ],
        "options": {}
      },
      "id": "action-switch",
      "name": "Action Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.resendApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ {\n  \"from\": $json.email.from || \"Hudson Digital <noreply@hudsondigitalsolutions.com>\",\n  \"to\": [$json.email.to],\n  \"subject\": $json.email.subject,\n  \"html\": $json.email.html\n} }}",
        "options": {}
      },
      "id": "send-email-resend",
      "name": "Send Email (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "resend-api-credentials",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "wait-for-schedule",
      "name": "Wait for Schedule",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.resendApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ {\n  \"from\": $json.email.from || \"Hudson Digital <noreply@hudsondigitalsolutions.com>\",\n  \"to\": [$json.email.to],\n  \"subject\": $json.email.subject,\n  \"html\": $json.email.html\n} }}",
        "options": {}
      },
      "id": "send-scheduled-email",
      "name": "Send Scheduled Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "resend-api-credentials",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"message\": \"Email sent successfully\", \"queueId\": $runIndex} }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"message\": \"Email scheduled successfully\", \"queueId\": $runIndex} }}"
      },
      "id": "schedule-response",
      "name": "Schedule Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Email Queue Webhook": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Send Email (Resend)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Resend)": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Schedule": {
      "main": [
        [
          {
            "node": "Send Scheduled Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Scheduled Email": {
      "main": [
        [
          {
            "node": "Schedule Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-07-22T00:00:00.000Z",
  "versionId": "1"
}