docs/n8n-email-queue-workflow.json
{
  "meta": {
    "instanceId": "workflow"
  },
  "nodes": [
    {
      "parameters": {
        "path": "email-queue",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8c8e1b5e-5b5b-46e5-bb73-f34e8a3b5c38",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "email-queue"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"action\"]}}",
              "value2": "send"
            }
          ]
        }
      },
      "id": "c4d8a5f8-6e3e-4d25-8c2f-f6e8a3b5c381",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "from": "={{$json[\"email\"][\"from\"] || \"Hudson Digital <noreply@hudsondigitalsolutions.com>\"}}",
        "to": "={{$json[\"email\"][\"to\"]}}",
        "subject": "={{$json[\"email\"][\"subject\"]}}",
        "html": "={{$json[\"email\"][\"html\"]}}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-789a-bcde-f1234567890a",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        640,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "d4e5f6a7-b8c9-4d0e-a1f2-345678901234",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "from": "={{$json[\"email\"][\"from\"] || \"Hudson Digital <noreply@hudsondigitalsolutions.com>\"}}",
        "to": "={{$json[\"email\"][\"to\"]}}",
        "subject": "={{$json[\"email\"][\"subject\"]}}",
        "html": "={{$json[\"email\"][\"html\"]}}",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4e1f-a234-567890123456",
      "name": "Send Scheduled Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        840,
        400
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "success",
              "value": true
            }
          ],
          "string": [
            {
              "name": "message",
              "value": "Email sent successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f2a-3456-789012345678",
      "name": "Set Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        840,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "success",
              "value": true
            }
          ],
          "string": [
            {
              "name": "message",
              "value": "Email scheduled successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-4345-6789-012345678901",
      "name": "Set Schedule Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "b8c9d0e1-f234-4567-8901-234567890123",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1240,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Set Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send Scheduled Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Scheduled Email": {
      "main": [
        [
          {
            "node": "Set Schedule Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schedule Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01234567-89ab-cdef-0123-456789abcdef",
  "id": "12345",
  "tags": []
}