docs/n8n-lead-attribution-workflow.json
{
  "name": "Hudson Digital - Lead Attribution & UTM Tracking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-attribution",
        "options": {}
      },
      "id": "webhook-lead-attribution",
      "name": "Lead Attribution Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "lead-attribution-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "leadId",
              "value": "={{ $now }}-{{ $json.email?.split('@')[0] || 'anonymous' }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email || 'unknown@example.com' }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name || 'Unknown' }}"
            },
            {
              "name": "company",
              "value": "={{ $json.company || '' }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone || '' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message || '' }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $json.utm_source || 'direct' }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $json.utm_medium || 'none' }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $json.utm_campaign || '' }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $json.utm_content || '' }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $json.utm_term || '' }}"
            },
            {
              "name": "referrer",
              "value": "={{ $json.referrer || 'direct' }}"
            },
            {
              "name": "page_url",
              "value": "={{ $json.page_url || '' }}"
            },
            {
              "name": "user_agent",
              "value": "={{ $json.user_agent || '' }}"
            },
            {
              "name": "ip_address",
              "value": "={{ $json.ip_address || '' }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            }
          ],
          "number": [
            {
              "name": "lead_score",
              "value": "={{ ($json.budget && parseInt($json.budget) > 5000) ? 80 : ($json.budget && parseInt($json.budget) > 1000) ? 60 : ($json.timeline === 'ASAP' || $json.timeline === '1-2 weeks') ? 70 : 40 }}"
            }
          ]
        }
      },
      "id": "set-lead-data",
      "name": "Set Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.utm_source }}",
              "operation": "notEqual",
              "value2": "direct"
            }
          ]
        }
      },
      "id": "check-attribution",
      "name": "Check Attribution",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values/Leads!A:P:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.googleApi.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ {\n  \"values\": [[\n    $json.leadId,\n    $json.timestamp,\n    $json.name,\n    $json.email,\n    $json.company,\n    $json.phone,\n    $json.message,\n    $json.lead_score,\n    $json.utm_source,\n    $json.utm_medium,\n    $json.utm_campaign,\n    $json.utm_content,\n    $json.utm_term,\n    $json.referrer,\n    $json.page_url,\n    \"New\"\n  ]]\n} }}"
      },
      "id": "save-to-google-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 200],
      "credentials": {
        "googleApi": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/{{ $credentials.airtableWebhook.webhookId }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ {\n  \"leadId\": $json.leadId,\n  \"email\": $json.email,\n  \"name\": $json.name,\n  \"company\": $json.company,\n  \"phone\": $json.phone,\n  \"message\": $json.message,\n  \"leadScore\": $json.lead_score,\n  \"utmSource\": $json.utm_source,\n  \"utmMedium\": $json.utm_medium,\n  \"utmCampaign\": $json.utm_campaign,\n  \"utmContent\": $json.utm_content,\n  \"utmTerm\": $json.utm_term,\n  \"referrer\": $json.referrer,\n  \"pageUrl\": $json.page_url,\n  \"userAgent\": $json.user_agent,\n  \"ipAddress\": $json.ip_address,\n  \"timestamp\": $json.timestamp,\n  \"status\": \"New\"\n} }}"
      },
      "id": "save-to-airtable",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 400],
      "credentials": {
        "airtableWebhook": {
          "id": "airtable-webhook-credentials",
          "name": "Airtable Webhook"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.posthog.com/capture/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ {\n  \"api_key\": \"{{ $env.NEXT_PUBLIC_POSTHOG_KEY }}\",\n  \"event\": \"lead_captured\",\n  \"properties\": {\n    \"distinct_id\": $json.email,\n    \"email\": $json.email,\n    \"name\": $json.name,\n    \"company\": $json.company,\n    \"lead_score\": $json.lead_score,\n    \"utm_source\": $json.utm_source,\n    \"utm_medium\": $json.utm_medium,\n    \"utm_campaign\": $json.utm_campaign,\n    \"utm_content\": $json.utm_content,\n    \"utm_term\": $json.utm_term,\n    \"referrer\": $json.referrer,\n    \"page_url\": $json.page_url,\n    \"$current_url\": $json.page_url,\n    \"$referrer\": $json.referrer,\n    \"attribution_source\": $json.utm_source === \"direct\" ? $json.referrer : $json.utm_source\n  }\n} }}"
      },
      "id": "track-posthog-event",
      "name": "Track PostHog Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "success",
              "value": true
            }
          ],
          "string": [
            {
              "name": "message",
              "value": "Lead captured and attributed successfully"
            },
            {
              "name": "leadId",
              "value": "={{ $json.leadId }}"
            },
            {
              "name": "attribution",
              "value": "={{ $json.utm_source }}/{{ $json.utm_medium }}/{{ $json.utm_campaign }}"
            }
          ],
          "number": [
            {
              "name": "leadScore",
              "value": "={{ $json.lead_score }}"
            }
          ]
        }
      },
      "id": "set-success-response",
      "name": "Set Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Lead Attribution Webhook": {
      "main": [
        [
          {
            "node": "Set Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Data": {
      "main": [
        [
          {
            "node": "Check Attribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Attribution": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Track PostHog Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          {
            "node": "Track PostHog Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track PostHog Event": {
      "main": [
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-07-22T00:00:00.000Z",
  "versionId": "1"
}